.Centertext{
    text-align: center;
    border: 1px solid #F4F4F4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background: #1659BE;
    color: white;
}

.TitleText{
    background: #1659BE;
    align-items: center;
    display: "flex";
    justify-Content: center;
}

.marginTop15{
    margin-top: 15px;
}

.navLink{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.navLink:hover{
    color: #EEE;
    font-size: 20px;
}
/*Login*/
.container-logo {
    width: 320px;
    margin: 10px auto;
    box-shadow: 0 2px 5px #00000057;
    padding: 30px;
}

img.logo-login {
    width: 100%;
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #eee;
    border-top: 4px solid #ccc;
}

@media (max-width: 600px) {
    .login-footer {
        position: relative;
    }

    .container-logo {
        width: 95%;
        margin: 10px auto;
        box-shadow: 0 2px 5px #00000057;
        padding: 30px;
    }

}


/*pharmacist*/
.pharmacist-header {

    border-bottom: 4px solid #ccc;
    margin-bottom: 24px;
}

.pharmacist-header img {
    width: 200px;
}

.btnbackground{
    background-color: #16C4F0 !important;
    border-color: #16B9FF !important;
}

.btnbackground:hover{
    background-color: #16B9FF !important;
    border-color: #16B9FF !important;
}

.pharmacist-header button.btn-logout {
    float: right;
    margin-top: 20px;
    background-color: #16C4F0;
    border-color: #16B9FF;
}

.pharmacist-header button.btn-logout:hover {
    background-color: #16B9FF;
    border-color: #16B9FF;
}

.pharmacist-header label {
    font-size: 24px;
    color: #d14e5c;
}

.pharmacist-buttons {
    text-align: center;
}

.pharmacist-buttons button {
    height: 80px;
    margin: 8px;
}

.pharmacist-buttons button span.material-icons {
    font-size: 48px;
}

.pharmacist-photo {
    text-align: center;
}

.pharmacist-photo-hidden {
    visibility: hidden;
}

.pharmacist-img {
    width: 80%;
    border: 3px solid #ccc;
    margin-bottom: 16px;
}

.pharmacist-dialog.modal-body {
    text-align: center;
}



/* pharmacist */
p.subtitle {
    color: #16C4F0;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid #16C4F0;
}



/*Camera*/
.camera-frame {
    width: 350px;
    height: 350px;
    position: absolute;
    left: 58px;
    top: 2px;
    border: 6px solid #007bff;
    box-shadow: 0 0 0 80px #ffffff;
}


.camera-container {
    overflow: hidden;
    position: relative;
}

video.camera-video {
    width: 100%;
    background: #000;
}

canvas.camera-canvas {
   display: none;
}


@media (max-width: 600px) {
    .camera-frame {
        width: 308px;
        height: 308px;
        position: absolute;
        left: 0px;
        top: 56px;
        border: 6px solid #007bff;
        box-shadow: 0 0 0 80px #ffffff;
    }

}


/*checker*/

.checker-buttons {
    max-width: 320px;

}
.checker-photo {
    text-align: center;
    max-width: 320px;
    position: relative;
    
}

.checker-check {
    background: #4caf50;
    width: 74px;
    height: 68px;
    border-radius: 8px;
    position: absolute;
    bottom: 16px;
}

.checker-check:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 8px;
    background: #fff;
    top: 32px;
    left: 20px;
    transform: rotate(-45deg);
}

.checker-check:before {
    content: '';
    position: absolute;
    width: 27px;
    height: 8px;
    background: #fff;
    top: 40px;
    left: 10px;
    transform: rotate(45deg);
}


.checker-check.error-patient {
    background: #f44336;
}

.checker-check.error-patient:after {
    width: 50px;
    height: 8px;
    top: 32px;
    left: 12px;
}

.checker-check.error-patient:before {
    width: 50px;
    height: 8px;
    top: 32px;
    left: 12px;
}


.btn-center {
    width: 50%;
}

span.material-icons {
    vertical-align: bottom;
}

.checker-img-back {
    width: 100%;
    box-shadow: 0 2px 15px #00000075;
    border-radius: 10px;
    margin-bottom: 16px;

}

img.checker-img {
    position: absolute;
    top: 80px;
    left: 36px;
    width: 249px;
    border-radius: 50%;
    border: solid 8px #FFF;
    overflow: hidden;
}

.checker-form {
    position: absolute;
    top: 362px;
    left: 20px;
    text-align: justify;
    width: 280px;
    font-size: 14px;
}

.checker-form p {
    margin: 0;
}

.checker-form.Approved .checker-status {
    font-weight: bold;
    color: #2e7d3c;
}

.checker-form.Rejected .checker-status {
    font-weight: bold;
    color: #ed2024;
}

.checker-form.Waiting .checker-status {
    font-weight: bold;
    color: #b09631;
}
.checker-qr {
    position: absolute;
    top: 463px;
    right: 24px;
}

@media (max-width: 600px) {

    .container-md {
        padding: 0 !important;
        margin: 0 !important;
    }

    .pharmacist-header button.btn-logout {
        float: right;
        margin-top: 6px;
        background-color: #16C4F0;
        border-color: #16B9FF;
    }

    .pharmacist-header img {
        width: 137px;
    }

}