.Centertext{
    text-align: center;
    border: 1px solid #F4F4F4;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
    background: #1659BE;
    color: white;
}

.TitleText{
    background: #1659BE;
    align-items: center;
    display: "flex";
    justify-Content: center;
}

.marginTop15{
    margin-top: 15px;
}

.navLink{
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
}

.navLink:hover{
    color: #EEE;
    font-size: 20px;
}
/*Login*/
.container-logo {
    width: 320px;
    margin: 10px auto;
    box-shadow: 0 2px 5px #00000057;
    padding: 30px;
}

img.logo-login {
    width: 100%;
}

.login-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #eee;
    border-top: 4px solid #ccc;
}

@media (max-width: 600px) {
    .login-footer {
        position: relative;
    }

    .container-logo {
        width: 95%;
        margin: 10px auto;
        box-shadow: 0 2px 5px #00000057;
        padding: 30px;
    }

}


/*pharmacist*/
.pharmacist-header {

    border-bottom: 4px solid #ccc;
    margin-bottom: 24px;
}

.pharmacist-header img {
    width: 80px;
}

.pharmacist-header button.btn-logout {
    float: right;
}

.pharmacist-header label {
    font-size: 24px;
    color: #d14e5c;
}

.pharmacist-buttons {
    text-align: center;
}

.pharmacist-buttons button {
    height: 80px;
    margin: 8px;
}

.pharmacist-buttons button span.material-icons {
    font-size: 48px;
}

.pharmacist-photo {
    text-align: center;
    
}

.pharmacist-photo-hidden {
    visibility: hidden;
}

.pharmacist-img {
    width: 80%;
    border: 3px solid #ccc;
    margin-bottom: 16px;
}

.pharmacist-dialog.modal-body {
    text-align: center;
}

video.camera-video {
    width: 100%;
    background: #000;
}

canvas.camera-canvas {
   display: none;
}



